In [93]:
import pandas as pd

In [94]:
listas = pd.read_csv('listas.csv', sep=';')

In [102]:
df_final = pd.DataFrame({col:sorted(listas[col]) for col in listas.columns})

In [116]:
df_final['diff'] = (df_final['segunda'] - df_final['inicial']).abs()

In [119]:
df_final['diff'].sum()

np.int64(2378066)

In [128]:
df_final['frequencia'] = df_final['inicial'].apply(lambda x: (df_final['segunda'] == x).sum())

In [129]:
df_final['similarity'] = df_final['inicial'] * df_final['frequencia']

In [130]:
df_final['similarity'].sum()

np.int64(18934359)

In [131]:
df_final

     inicial  segunda  diff  Frequencia  frequencia  similarity
0      10142    10131    11           0           0           0
1      10199    10175    24           0           0           0
2      10246    10273    27           0           0           0
3      10250    10310    60           0           0           0
4      10403    10669   266           0           0           0
..       ...      ...   ...         ...         ...         ...
995    99609    99633    24           0           0           0
996    99647    99639     8           0           0           0
997    99737    99913   176           0           0           0
998    99765    99922   157           0           0           0
999    99910    99994    84           0           0           0

[1000 rows x 6 columns]